:root {
    --vermelho: #e50914;
    --preto: #141414;
    --cinza:  #aaa;
    --branco: #fff;
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* Elementos Base */
body {
    background: var(--preto);
    font-family: Arial, Times, serif;
    color: var(--branco);
}

header .container {
    display: flex;
    flex-direction: row;
    align-items:  center;
    justify-content: space-between;
}

header .logo {
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times, serif;
    font-size: 50px;
}

header nav a {
    text-decoration: none;
    color: var(--cinza);
    margin-right: 10px;
}

header nav a:hover {
    color: var(--branco)
}

/* Entretenimento Base */
.filme-principal {
    font-size: 20px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('../img/capa-kimetsu.jpg');
        
    height: 500px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.filme-principal .descricao {
    margin-top: 30px;
    margin-bottom: 40px;

}

.filme-principal .titulo {
    margin-top: 5%;
    font-size: 50px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao {
    background-color: rgba(0,0,0,.50);
    border: none;
    color:var(--branco);
    
    padding: 15px 30px;
    margin-right: 15px;    
    font-size: 15px;
    cursor: pointer;
    transition: .3s;
}

.botao:hover {
    background-color: var(--branco);
    color: var(--preto);
}

/*
.botao i {
    margin-right: 5px;
}
*/

.botao span {
    margin-left: 5px;
}

.container {
    margin-left:  20px;
}

.filme-principal .container {
    width: 75%;
}

.box-filme {        
    width: 100%;
    height: 100%;
    display: inline-block;
}

.carrosel-filmes{
    margin-top: 5px;
}